{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/icons8-run-32.png' %}">
    <title>Sport notes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    
</head>
<body>
    <nav class="nav">
        <div class="wraper">
            <ul class="nav-items">
                {% if request.user.is_authenticated %}
                <li><a href="/competitions_list" class="white-href">Соревнования</a> </li>
                <li> <a href="/vue_test" class="white-href"> Календарь</a></li>
                <li><a href="/main" class="white-href">Главная</a></li>
                <li><a href="/trainings" class="white-href">Тренировки</a></li>
                <li><a href="/training_plans" class="white-href">Планы тренировок</a></li>
                <li><a href="/out" class="white-href">Выход</a></li>
                {% else %}
                <li><a href="/main" class="white-href">Главная</a></li>
                <li><a href="/auth" class="white-href">Войти</a></li>
                <li><a href="/reg" class="white-href">Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="content">
        {% comment %} <div class="wraper"> {% endcomment %}
            {% block content %}
            {% endblock content %}
        {% comment %} </div> {% endcomment %}
    </div>   
 

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{% static "jquery/jquery.js" %}"></script>
    <script src="{% static "jquery/plugins/jquery.cookie.js" %}"></script>
    <script src="{% static "jquery/plugins/jquery.parseQuery.js" %}"></script>
    <script src="{% static "jquery/plugins/jquery.utils.js" %}"></script>
    <script src="{% static "jquery/plugins/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src={% static "js/script.js" %}></script>
    <script type="text/javascript" src={% static "js/vue.js" %}></script>
    <script type="text/javascript" src={% static "js/jquery_script.js" %}></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>

</body>
<footer>
    <div class="footer-text">
        @SportNotes
    </div>
</footer>
</html>