{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- <div class="main">
    <h1>Main</h1>
    {% if request.user.is_authenticated %}
    <h2>Hello, {{request.user}}!</h2>
    {% else %}
    <h2>Hello!</h2>
    {% endif %}
    
</div> -->
<div class="banner-fon">
    <div class="calendar-block">
        <h2>Все тренировки за месяц</h3>
        <div id='calendar' class="main_calendar"></div>
   </div>
   <div class="first-step"> Путь начинается с первого шага</div>
   
   <div class="steps">
        <!-- <div class="steps-relative"> -->
            <div class="btn-step step-one"><a href="/add_training/">Создать тренировку</a></div>
            <div class="btn-step step-two"><a href="/training_plans/">Выбрать план или создать свой</a></div>
            <div class="btn-step step-three"><a href="/training/">Выполнить и отметить все подходы тренировки</a></div>
            <div class="btn-step step-ready orange">Готово!<br> Вы стали еще сильнее!</div>
            
            <img src="{% static 'img/lines/icons8-long-left.png' %}" alt="line" class="line-one">
            <img src="{% static 'img/lines/icons8-down-right-pp.png' %}" alt="line" class="line-two">
            
            <img src="{% static 'img/lines/icons8-right-down-pp2.png' %}" alt="line" class="line-three">
            
        <!-- </div> -->
   </div>
   <div class="banner">
        <h1 class="main-title">Спортивный дневник</h1>
        <p>Вести спортивный дневник с нами легко!</p>
    </div>
</div>


{% endblock content %}
