{% extends "base.html" %}

{% block content %}
<div class="competitions-fon">
<div class="wraper dark-fon">
  <div class="competitions">
    <div class="events">
      <div>
        {{ html_out1|safe }}
      </div>
      <div>
        {{ html_out|safe }}
      </div>
      <div>
        {{ html_out2|safe }}
      </div>
    </div>
      <h1> Результаты выступления на соревнованиях {{ name }}:</h1>
      <table class="competitions-table">
          <tr>
            <th>Название</th>
            <th>Дата</th>
            <th>Город</th>
            <th>Дисциплина</th>
            {% comment %} <th>Планируемый результат</th> {% endcomment %}
            <th>Результат</th>
            {% comment %} <th>Планируемое место</th> {% endcomment %}
            <th>Место</th>
            {% comment %} <th>Результат победителя</th> {% endcomment %}
          </tr>
          {% for item in list_competitions%}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.date_start|date:"d.m.Y" }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.discipline.name }}</td>
            {% comment %} <td>{{ item.plan_result }}</td> {% endcomment %}
            <td>{{ item.result }}</td>
            {% comment %} <td>{{ item.plan_place }}</td> {% endcomment %}
            <td>{{ item.place }}</td>
            {% comment %} <td>{{ item.result_first_place }}</td> {% endcomment %}
          </tr>
          {% endfor%}
      </table>
      <a href="/add_competitions">
          <button type="submit" class="btn">Добавить соревнования </button>
      </a>
      <a href="/add_discipline">
          <button type="submit" class="btn">Добавить дисциплину </button>
      </a>

  </div>
</div>
</div>
{% endblock content %}
