{% extends "base.html" %}

{% block content %}
<div class="trainings">
    <div class="trainings-info">
        <div class="">Тренировка: <input type="number" name="" id="" value="1" class="trainings-number"></div>
        <div class="date"> <form>
            <input type="date" name="calendar" value="2024-07-13"
                max="2040-06-04" min="2020-05-29">
           </form>
        </div>
    </div>
    <div class="lines">
        <div class="trainings-main">
            <form action="" class="exercise-line">
                <form ac class="exercise">
                    <select id="exerc" name="exerc" class="">
                        <option value="run">Run</option>
                        <option value="jump">Jump</option>
                        <option value="throw">Throw</option>
                    </select>
                </form>
                <div class="access-line">
                    <div class="access">
                        <form action="" class="access-item">
                            <label for="">Подход 1</label>
                            <input type="number" placeholder="km">
                            <input type="number" placeholder="time">
                            <input type="button" value="delete" class="access-delete">
                        </form>
                    </div>
                    <div class="access">
                        <form action="" class="access-item">
                            <label for="">Подход 2</label>
                            <input type="number" placeholder="km">
                            <input type="number" placeholder="time">
                            <input type="button" value="delete" class="access-delete">
                        </form>
                    </div>
                    <div class="access">
                        <form action="" class="access-item">
                            <label for="">Подход 3</label>
                            <input type="number" placeholder="km">
                            <input type="number" placeholder="time">
                            <input type="button" value="delete" class="access-delete">
                        </form>
                    </div> 
                    <div class="access">
                        <form action="" class="access-item">
                            <label for="">Подход 4</label>
                            <input type="number" placeholder="km">
                            <input type="number" placeholder="time">
                            <input type="button" value="delete" class="access-delete">
                        </form>
                    </div>
                    <div class="access">
                        <form action="" class="access-item">
                            <label for="">Подход 5</label>
                            <input type="number" placeholder="km">
                            <input type="number" placeholder="time">
                            <input type="button" value="delete" class="access-delete">
                        </form>
                    </div>
                    <div class="access">
                        <form action="" class="access-item">
                            <label for="">Подход 6</label>
                            <input type="number" placeholder="km">
                            <input type="number" placeholder="time">
                            <input type="button" value="delete" class="access-delete">
                        </form>
                    </div>
                    <div class="access-add">
                        <input type="button" value="+" class="plus">
                    </div>
                    <div class="exercise-total">
                        <div class="bold">Сумма подходов:</div>
                        <div class="">30 km</div>
                        <div class="">1час 15мин</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <input type="button" value="Добавить упражнение" class="exercise-add btn">
    <input type="button" value="Сохранить тренировку" class="training-save btn">


</div>


<div class="show-compititions">
    {% for item in list_trainings%}
    <div class="competition">
        <h3> {{ item.name }} </h3>
        <li> {{ item.date }} {{ item.type }} {{item.programm_name }} </li>
        <h2> Упражнения:</h2>
        <ol>
            {% for i in list_program %}
                {% if i.name == item.programm_name %}
                <li>{{ i.exercise_id.name }}</li>
                {% endif %}
            {% endfor %}
        </ol>
       
    </div>
    {% endfor %}

    <!-- {% for item in list_program %}
    <ol>
        <li> {{ item.name }} </li>
        <li> {{ item.exercise_id.name }} </li>
    </ol>
    {% endfor %} -->
  </div>
{% endblock content %}
