.flex{
    display: flex;
    /* justify-content: space-between; */
  }
  .content{
    min-height: 100vh;
}

.wraper{
    width: 90%;
    margin: 0 auto;
}
  
.block{
    display: block;
}
  .L{
    width: 70%;
  }
  .sm{
    width: 87%;
  }